/* Stile esistente per l'header */
.header {
  height: 200px;
  padding: 10px;
  background-image: url('../../assets/matrix.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: height 0.1s ease-out, padding 0.1s ease-out; /* Aggiunta la transizione per rendere fluido il ridimensionamento */
  position: fixed; /* Fissa l'header in alto */
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Assicurati che l'header stia sopra gli altri elementi */
}

/* Stile per l'header ridotto */
.header.shrink {
  height: 80px; /* Ridotto */
  padding-top: 20px;
  display: flex;
  align-items: center;
}

/* Stile per le sezioni */
.sezioni {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.header.shrink .sezioni {
  padding-top: 0; /* Rimuove il padding quando è ridotto */
}

/* Presentazione e indici */
.presentazione {
  color: brown;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header.shrink .presentazione {
  display: none; /* Nasconde la presentazione quando l'header è ridotto */
}

.indici {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 100px;
}

.indici a {
  color: brown;
  font-size: medium;
  text-decoration: none;
  letter-spacing: 3px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Stile della box per il titolo */
.box {
  height: 80px;
  text-transform: uppercase;
  color: #0000;
  font-family: sans-serif;
  font-size: 40px;
  font-weight: bold;
  background: repeating-radial-gradient(#000 0 0.0001%, #9e0606 0 0.0002%) 50% 0/2500px 2500px,
              repeating-conic-gradient(#000 0 0.0001%, #9e0606 0 0.0002%) 50% 50%/2500px 2500px;
  background-blend-mode: difference;
  mix-blend-mode: lighten;
  -webkit-background-clip: text;
  background-clip: text;
  letter-spacing: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

/* Altri stili */
img {
  width: 20px;
  height: 30px;
}

.area-riservata {
  border-radius: 50px;
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: brown;
}
