<div class="header">
  <div class="presentazione">
    <div class="titolo">
      <h3><i>TOMMASO MARIOTTI'PORTFOLIO</i></h3>
    </div>
    <div class="titoletto">
      <h4><i>Hi, i'am a developer</i></h4>
    </div>
  </div>

  <div class="sezioni">
    <div class="indici">
      <a [appDynamicZoom]="1.1" href="#presentazione">Home</a>
      <a [appDynamicZoom]="1.1"href="#aboutMe">Su di Me</a>
      <a [appDynamicZoom]="1.1"href="#carousel">Esperienze</a>
      <a [appDynamicZoom]="1.1"href="#contattami">Contattami</a>
    </div>
    <div class="area-riservata">
      <a (click)="areaRiservata()" href="area-riservata"> <img src="assets/admin.png" alt="area-riservata"></a>
    </div>
  </div>
</div>
