<div class="header" [ngClass]="{'shrink': isShrunk}">
  <div class="presentazione">
    <h1 class="box">PORTFOLIO DI TOMMASO</h1>
    <div class="titoletto">
      <h4>CIAO, SONO UNO SVILUPPATORE</h4>
    </div>
  </div>

  <div class="sezioni">
    <div class="indici">
      <a [appDynamicZoom]="1.1" href="#presentazione"><b>HOME</b></a>
      <a [appDynamicZoom]="1.1" href="#about-me"><b>SU DI ME</b></a>
      <a [appDynamicZoom]="1.1" href="#work"><b>PROGETTI</b></a>
      <a [appDynamicZoom]="1.1" href="#contattami"><b>CONTATTAMI</b></a>
      <!-- <div class="area-riservata">
      <a [appDynamicZoom]="1.1" (click)="areaRiservata()"> <img src="assets/admin.png" alt="area-riservata"></a>
    </div> -->
    </div>
  </div>
  <div class="menu">
    <button class="tendina" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon><span class="material-icons">menu</span></mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
       <a [appDynamicZoom]="1.1" href="#presentazione"><b>HOME</b></a>
    </button>
    <button mat-menu-item >
      <a [appDynamicZoom]="1.1" href="#about-me"><b>SU DI ME</b></a>
    </button>
    <button mat-menu-item>
      <a [appDynamicZoom]="1.1" href="#work"><b>PROGETTI</b></a>
    </button>
    <button mat-menu-item>
      <a [appDynamicZoom]="1.1" href="#contattami"><b>CONTATTAMI</b></a>
    </button>
  </mat-menu>
    <div class="area-riservata">
      <a [appDynamicZoom]="1.1" (click)="areaRiservata()"> <img src="assets/admin.png" alt="area-riservata"></a>
    </div>
  </div>
</div>
