.sezioni{
  color: white;
  padding-top: 135px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:10px
}
.presentazione {
  color: brown;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.indici{
  color: white;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  gap:10px;

}

.indici a{
  color: brown;
  font-size: medium;
  text-decoration: none; /* Rimuove la sottolineatura */
}
.header{
  height: 200px;
  padding: 10px;
  background-image: url('../../assets/matrix.jpg');
  background-size: cover; /* Mostra l'intera immagine */
  background-repeat: no-repeat; /* Evita la ripetizione dell'immagine */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

img{
  width: 20px;
  height: 30px;
}

.area-riservata{
  border-radius: 50px;
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: brown;
}


