

/* Stili generali del layout */
html, body {
  height: 100%;
  margin: 0;
}

.main-content {
  min-height: 100vh;
  padding-bottom: 70px; /* Altezza del footer */
  box-sizing: border-box;
}

.footer {
  color: brown;
  background-image: url('../../assets/matrix.jpg');
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 500px;
  width: 100%;
  height: 150px;
  position: relative; /* Posiziona il footer in fondo alla pagina */
  bottom: 0;
  left: 0;
}


@media (max-width: 400px) {
  .footer{
    width: 100%;
  }
}
