/* Stili generali */
.introduzione {
  border:1px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.about-me {
  padding: 10px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 10px;
}

.immagine-presentazione {
  border-radius: 70px;
}

img {
  width: 250px;
  height: 200px;
}

.immagine-presentazione{
  border-radius: 20px;
}

.immagine-introduzione{
  border-radius: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Stili per lo slider */
.slider {
  padding-top: 10px;
  overflow: hidden;
  position: relative;
  margin: auto;
  background-color: rgb(186, 128, 128); /* Sfondo per lo slider */
  height: 75px; /* Altezza dello slider */
}

.slide-track {
  display: flex;
  width: 100%; /* Ampiezza totale della traccia */
  align-items: center;
  animation: scroll 60s linear infinite; /* Tempo per completare il ciclo di scorrimento */
}

@keyframes scroll {
  0% {
    transform: translateX(100%); /* Inizia fuori a destra */
  }
  100% {
    transform: translateX(-100%); /* Scorre fino a fuori a sinistra */
  }
}

.slide {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px; /* Spazio tra le immagini */
}

.img-slider {
  width: 65px;
  height: 65px;
  border-radius: 50px;
}

/* Stili per il carosello 3D */
.carousel-container {
  display: grid;
  grid-template-rows: 500px 100px;
  grid-template-columns: 1fr repeat(5, 30px) 1fr;
  align-items: center;
  justify-items: center;
}

main#carousel {
  grid-row: 1 / 2;
  grid-column: 1 / 8;
  width: 100vw;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform-style: preserve-3d;
  --items: 5;
  --middle: 3;
  --position: 1;
}

.work {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item {
  border-radius: 10%;
  border: 1px solid black;
  position: absolute;
  width: 300px;
  height: 400px;
  background-color: wheat;
  --r: calc(var(--position) - var(--offset));
  --abs: max(calc(var(--r) * -1), var(--r));
  transition: all 0.25s linear;
  transform: rotateY(calc(-10deg * var(--r))) translateX(calc(-300px * var(--r)));
  z-index: calc((var(--position) - var(--abs)));
}

input[type="radio"] {
  grid-column: auto;
  grid-row: 2 / 3;
  cursor: pointer;
}

.experience-content {
  padding: 20px;
  text-align: center;
  color: #fff;
}

.experience-content {
  color: black;
  border-radius: 2000%;
}

@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: #100721;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
}

/* Stili per il contenitore delle esperienze */
.container {
  padding: 10px;
  width: 100%; /* Estende il contenitore alla larghezza dello schermo */
  display: flex;
  justify-content: center;
  height: 350px;
  gap: 10px;
  flex-wrap: wrap; /* Permette al contenitore di adattarsi a più righe se necessario */
  overflow-x: auto; /* Aggiunge uno scroll orizzontale se necessario */
  box-sizing: border-box; /* Assicura che padding e border siano inclusi nella larghezza */
}

.container > div {
  flex: 1 1 120px; /* Permette ai div di crescere e ridursi in base allo spazio disponibile */
  border-radius: 0.5rem;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  box-shadow: 1px 5px 15px #1e0e3e;
  position: relative;
  overflow: hidden;
  background: none;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover; /* Adatta l'immagine al contenitore */
  background-position: center; /* Centra l'immagine */
}

.container > div img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover; /* Adatta l'immagine al contenitore senza deformarla */
  display: block; /* Rimuove gli spazi sotto l'immagine */
}

.container > div:hover {
  flex: 1 1 250px; /* Dimensione espansa del contenitore */
  box-shadow: 1px 3px 15px #7645d8;
  transform: translateY(-30px);
}

.btn {
  font-size: 1.2rem;
  padding: 1rem 2.5rem;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  cursor: pointer;
  text-transform: uppercase;
  background-color: rgb(14, 14, 26);
  color: rgb(234, 234, 234);
  font-weight: 700;
  transition: 0.6s;
  box-shadow: 0px 0px 60px #1f4c65;
  -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}
.card-esperienza{
 padding: 10px;
 display: flex;
}

.footer-card{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.content{
  border-radius: 20%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.btn:active {
  scale: 0.92;
}

.btn:hover {
  background: rgb(2,29,78);
  background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
  color: rgb(4, 4, 38);
}
