<div class="introduzione" >
  <div class="intro">
    <h3><i>Benvenuti!</i></h3>
    <p>{{informazioni.introduzione}} </p>
  </div>
  <div class="immagine">
    <img src={{informazioni.immagineIntroduzione}} alt="">
  </div>

</div>
<div class="about-me">
  <div class="descrizione">
    <h3><i>Chi sono?</i></h3>
    <p>{{informazioni.presentazione}}</p>
  </div>
  <div class="immagine">
    <img class="immagine-presentazione" src={{informazioni.immaginePresentazione}} alt="">
  </div>
</div>

<div class="slider">
	<div class="slide-track">
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
		</div>
	</div>
</div>
<div class="work">
  <div class="progetti">
    <h4><i>Progetti</i></h4>
  </div>
  <div class="carousel-container">

    <div *ngFor="let item of esperienze; let i = index">
      <input
        type="radio"
        [name]="'position'"
        [checked]="currentIndex === i"
        (click)="updateCurrentIndex(i)"
      />
    </div>

    <main id="carousel">
      <div
        *ngFor="let esperienza of esperienze; let i = index"
        class="item"
        [style.--offset]="i + 1"
      >
        <div class="experience-content">
          <h3>{{ esperienza.nomeAzienda }}</h3>
          <p>{{ esperienza.descrizione }}</p>
          <img src={{esperienza.immagineUrl}} alt="">
          <button mat-button (click)="getMoreInfo(esperienza)">Info</button>
        </div>
      </div>
    </main>
  </div>
</div>

