<div class="introduzione" id="introduzione">
  <div class="intro">
    <h3>Benvenuti!</h3>
    <p>{{ presentazione.descrizione }}</p>
  </div>
  <div class="immagine">
    <img class="immagine-introduzione" [src]="presentazione.img" alt="">
  </div>
</div>

<div class="about-me" id="about-me">
  <div class="descrizione">
    <h3>Chi sono?</h3>
    <p>{{ descrizione.descrizione }}</p>
  </div>
  <div class="immagine">
    <img class="immagine-presentazione" [src]="descrizione.img" alt="">
  </div>
</div>

<div class="slider">
  <div class="slide-track">
    <div class="slide" *ngFor="let competenza of competenze">
      <img [src]="competenza.immagine" alt="" class="img-slider" />
    </div>
  </div>
</div>

<div class="work" id="work">
  <div class="container">
    <div class="card-esperienza" *ngFor="let esperienza of esperienze" [ngStyle]="{'background-image': 'url(' + esperienza.img + ')'}">
      <div class="footer-card">
        <div class="immagine-card">
        </div>
        <div class="content">
          <h2>{{ esperienza.nomeAzienda }}</h2>
          <h2>{{ esperienza.nomeProgetto }}</h2>
          <button class="btn" (click)="getMoreInfo(esperienza)"> Info</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="contatti">
    <div class="contattami" id="contattami">
      <p>Per ulteriori inormazioni o per un eventuale confronto per un nuovo progetto non esitare a contattasrmi tramite le seguenti vie:</p>
      <ul>
        <li><a href="#">mariotti.tommaso29@gmail.com</a></li>
        <li><a href="https://www.linkedin.com/in/tommaso-mariotti-56707317a/"><span class="svgContainer">
          <svg viewBox="0 0 24 24"height="24" width="24"  xmlns="http://www.w3.org/2000/svg">
            <path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"></path>
          </svg>
        </span>
        <span class="BG"></span></a></li>
      </ul>
    </div>
</div>
