<br>
<div class="esperienze">
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="primo-container">
          <mat-card class="example-card" appearance="outlined">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <div class="info">
              <div class="contenuto">
            <mat-card-content>
              <p>
              CArta 111
              </p>
            </mat-card-content>
            </div>
            <div class="azione">
              <button mat-button>+</button>
            </div>
          </div>
          </mat-card>
          <mat-card class="example-card" appearance="outlined">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <div class="info">
              <div class="contenuto">
            <mat-card-content>
              <p>
              CArta 111
              </p>
            </mat-card-content>
            </div>
            <div class="azione">
              <button mat-button>+</button>
            </div>
          </div>
          </mat-card>
          <mat-card class="example-card" appearance="outlined">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <div class="info">
              <div class="contenuto">
            <mat-card-content>
              <p>
              CArta 111
              </p>
            </mat-card-content>
            </div>
            <div class="azione">
              <button mat-button>+</button>
            </div>
          </div>
          </mat-card>
        </div>
      </div>
      <div class="carousel-item">
        <div class="primo-container">
        <mat-card class="example-card" appearance="outlined">
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <div class="info">
            <div class="contenuto">
          <mat-card-content>
            <p>
            CArta 222
            </p>
          </mat-card-content>
          </div>
          <div class="azione">
            <button mat-button>+</button>
          </div>
        </div>
        </mat-card>
        <mat-card class="example-card" appearance="outlined">
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <div class="info">
            <div class="contenuto">
          <mat-card-content>
            <p>
            CArta 111
            </p>
          </mat-card-content>
          </div>
          <div class="azione">
            <button mat-button>+</button>
          </div>
        </div>
        </mat-card>
        <mat-card class="example-card" appearance="outlined">
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <div class="info">
            <div class="contenuto">
          <mat-card-content>
            <p>
            CArta 111
            </p>
          </mat-card-content>
          </div>
          <div class="azione">
            <button mat-button>+</button>
          </div>
        </div>
        </mat-card>
      </div>
      </div>
      <div class="carousel-item">
        <div class="primo-container">
          <mat-card class="example-card" appearance="outlined">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <div class="info">
              <div class="contenuto">
            <mat-card-content>
              <p>
              CArta 3333
              </p>
            </mat-card-content>
            </div>
            <div class="azione">
              <button mat-button>+</button>
            </div>
          </div>
          </mat-card>
          <mat-card class="example-card" appearance="outlined">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <div class="info">
              <div class="contenuto">
            <mat-card-content>
              <p>
              CArta 111
              </p>
            </mat-card-content>
            </div>
            <div class="azione">
              <button mat-button>+</button>
            </div>
          </div>
          </mat-card>
          <mat-card class="example-card" appearance="outlined">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <div class="info">
              <div class="contenuto">
            <mat-card-content>
              <p>
              CArta 111
              </p>
            </mat-card-content>
            </div>
            <div class="azione">
              <button mat-button>+</button>
            </div>
          </div>
          </mat-card>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<br>
<div class="presentazione">

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo eveniet laborum nihil ipsa mollitia consectetur expedita pariatur consequuntur, excepturi tempora ullam, officia, vero nesciunt quod velit animi perferendis deleniti temporibus?
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti, soluta consectetur nam quidem voluptates molestias consequuntur. Architecto sunt, deleniti numquam voluptate, eos dicta eveniet reiciendis autem obcaecati ullam dolorem expedita.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non vero tenetur reprehenderit expedita dolorum, omnis veniam? Fugit, fugiat. Fugiat ex cumque sunt nisi quo architecto sint facere dignissimos at dicta?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam ratione pariatur nobis quae. Obcaecati laborum nostrum odit incidunt deserunt veritatis deleniti ullam dolor, accusantium voluptas. Quidem obcaecati labore soluta qui?
  </p>
</div>
