.esperienze{
  padding: 20px;
}

mat-card{
  padding: 10px;
  display: flex;
  align-items: center;
  gap:10px;
}

mat-card-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:10px;
}

.fixed-button {
  height: 130px;
  width: 130px;
  position: fixed;
  bottom: 70px; /* Distanza dal fondo della schermata */
  right: 20px; /* Distanza dal lato destro della schermata */
  z-index: 1000; /* Assicura che il bottone sia sopra le card */
}


