.contenuto{
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.gestione-info{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap:50px;
}

.titolo{
  display: flex;
  justify-content: center;
}

mat-card{
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  gap:10px
}
.mat-mdc-card-header{
  display: flex;
}

.mat-mdc-card-content {
  display: flex;
  justify-content: center;

}


.competenze {
  position: relative;
  display: flex;
  gap:20px;
}

.fixed-button {
  height: 50px;
  width: 50px;
  background-color: brown;
  position: absolute; /* Cambia da fixed a absolute */
  bottom: 0px; /* Distanza dal fondo del div competenze */
  right: 20px; /* Distanza dal lato destro del div competenze */
  z-index: 1000; /* Assicura che il bottone sia sopra le card */
}

.competenza{
  padding: 10px;
}
.immagine-competenza{
  width: 70px;
  height: 50px;
  margin-left: 10px;
}

.dati{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:500px;
}

.image{
  display: flex;
  padding: 10px;
}

.bottoni{
  padding: 10px;
  display: flex;
  justify-content: center;
  gap:200px
}

.nome{
  padding:20px
}
mat-expansion-panel{
  width: 900px;
}

