<div class="contenuto">
  <mat-card class="example-card" appearance="outlined">
    <div class="titolo">
       <h2>Introduzione</h2>
    </div>
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-subtitle>{{ informazioni.introduzione | truncate:200 }}</mat-card-subtitle>
        <img mat-card-sm-image [src]="informazioni.immagineIntroduzione" >
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <button mat-button (click)="openDialogIntroduzione()">Modifica</button>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card" appearance="outlined">
    <div class="titolo">
      <h2>Presentazione</h2>
   </div>
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-subtitle>{{ informazioni.presentazione | truncate:200 }}</mat-card-subtitle>
        <img mat-card-sm-image [src]="informazioni.immaginePresentazione" >
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <button mat-button (click)="openDialogPresentazione()">Modifica</button>
    </mat-card-content>
  </mat-card>
</div>
