
  <div class="login">
    <div class="schermata">
      <div class="info">
        <h3>LOGIN</h3>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="accesso" >
            <mat-form-field>
              <mat-label>Email:</mat-label>
              <input matInput formControlName="email" type="email">
            </mat-form-field>
            <mat-form-field>
              <mat-label>password</mat-label>
              <input matInput formControlName="password" type="password">
            </mat-form-field>
        <div class="azione">
          <button mat-button type="submit">ENTRA</button>
        </div>
      </div>
    </form>
    </div>
    <div class="immagine-login">
      <img src="../../assets/login.jpg" alt="">
    </div>

  </div>
