.dettaglio {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.gruppo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.oggetto-tecnologia{
  padding: 10px;
  display: flex;
  align-items: center;
  gap:5px;

}

.singolo{
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:10px;
}

.descrizione{
  width: 1000px;
}
.rimuovi-tec{
  font-size: xx-large;
}

.tecnologie-container{
  padding: 10px;
}

.prima-colonna, .seconda-colonna {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.secondo-gruppo {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tecnologia {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.azione{
  display: flex;
  justify-content: center;
}

mat-dialog-content {
  max-height: 70vh; /* Limita l'altezza del contenuto a 70% della viewport */
  overflow-y: auto; /* Abilita lo scroll verticale */
}

mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
}
