<mat-dialog-content *ngIf="!inseriemnto">
  <div class="dettaglio">
    <div class="info">
      <h3>Informazioni:</h3>
    </div>
    <form [formGroup]="inserisciForm" (ngSubmit)="aggiorna()">

      <div class="gruppo">
        <div class="prima-colonna">
          <mat-form-field>
            <mat-label>Nome Azienda:</mat-label>
            <input matInput formControlName="nomeAzienda">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Nome Progetto:</mat-label>
            <input matInput formControlName="nomeProgetto" type="text">
          </mat-form-field>
        </div>
        <div class="seconda-colonna">
          <mat-form-field>
            <mat-label>Data Inizio:</mat-label>
            <input matInput formControlName="dataInizio" type="date">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Data Fine:</mat-label>
            <input matInput formControlName="dataFine">
          </mat-form-field>
        </div>
      </div>

      <div class="singolo">
        <mat-form-field class="example-full-width">
          <mat-label>Descrizione:</mat-label>
          <textarea matInput formControlName="descrizione"></textarea>
        </mat-form-field>
        <!-- Input per il caricamento dell'immagine -->
        <div class="input-immagine">
          <label for="imageUpload">Carica immagine (JPG, PNG):</label>
          <input type="file" (change)="onFileChange($event)" accept="image/jpeg, image/png" id="imageUpload">
        </div>
      </div>

      <div class="secondo-gruppo">
        <div class="tecnologie">
          <h3>Tecnologie:</h3>
        </div>
        <div class="tecnologie-container" formArrayName="tecnologie">
          <div class="oggetto-tecnologia" *ngFor="let tecnologia of tecnologieArray.controls; let i = index" [formGroupName]="i">
            <mat-form-field>
              <mat-label>Nome:</mat-label>
              <input matInput formControlName="nome">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Versione:</mat-label>
              <input matInput formControlName="versione">
            </mat-form-field>
            <div class="aggiungi-tec">
              <button mat-button type="button" (click)="rimuovi(i)" class="rimuovi-tec"> - </button>
            </div>
            <hr>
          </div>
        </div>
        <div class="aggiungi-tec">
          <button mat-button type="button" (click)="aggiungi()">Aggiungi Tecnologia</button>
        </div>
      </div>

      <div class="azione">
        <button mat-button type="submit">Modifica</button>
      </div>
    </form>
  </div>
</mat-dialog-content>

<mat-dialog-content *ngIf="inseriemnto">
  <div class="dettaglio">
    <div class="info">
      <h3>Informazioni:</h3>
    </div>
    <form [formGroup]="inserisciForm" (ngSubmit)="inserisci()">

      <div class="gruppo">
        <div class="prima-colonna">
          <mat-form-field>
            <mat-label>Nome Azienda:</mat-label>
            <input matInput formControlName="nomeAzienda">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Nome Progetto:</mat-label>
            <input matInput formControlName="nomeProgetto" type="text">
          </mat-form-field>
        </div>
        <div class="seconda-colonna">
          <mat-form-field>
            <mat-label>Data Inizio:</mat-label>
            <input matInput formControlName="dataInizio" type="date">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Data Fine:</mat-label>
            <input matInput formControlName="dataFine" type="date">
          </mat-form-field>
        </div>
      </div>

      <div class="singolo">
        <mat-form-field>
          <mat-label>Descrizione:</mat-label>
          <textarea matInput formControlName="descrizione"></textarea>
        </mat-form-field>

        <!-- Input per il caricamento dell'immagine -->
        <div class="input-immagine">
          <label for="imageUpload">Carica immagine (JPG, PNG):</label>
          <input type="file" (change)="onFileChange($event)" accept="image/jpeg, image/png" id="imageUpload">
        </div>
      </div>

      <div class="secondo-gruppo">
        <div class="tecnologie">
          <h3>Tecnologie:</h3>
        </div>
        <!-- Gestione dinamica delle tecnologie -->
        <div class="tecnologie-container" formArrayName="tecnologie">
          <div *ngFor="let tecnologia of tecnologieArray.controls; let i = index" [formGroupName]="i">
            <mat-form-field>
              <mat-label>Nome:</mat-label>
              <input matInput formControlName="nome">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Versione:</mat-label>
              <input matInput formControlName="versione">
            </mat-form-field>
            <div class="aggiungi-tec">
              <button mat-button type="button" (click)="rimuovi(i)"> Rimuovi </button>
            </div>
            <hr>
          </div>
        </div>
        <div class="aggiungi-tec">
          <button mat-button type="button" (click)="aggiungi()">Aggiungi Tecnologia</button>
        </div>
      </div>

      <div class="azione">
        <button mat-button type="submit">Invia</button>
      </div>
    </form>
  </div>
</mat-dialog-content>
