<!-- <h2 mat-dialog-title>Modifica Esperienza</h2>
<mat-dialog-content>
  <h1>{{ data.nomeProgetto }}</h1>
  <p>{{ data.nomeAzienda }}</p>
  <p>{{ data.dataInizio }} - {{ data.dataFine }}</p>
</mat-dialog-content> -->

<mat-form-field>
  <mat-label>Input</mat-label>
  <input matInput>
</mat-form-field>
<!--
<mat-form-field>
  <mat-label>Input</mat-label>
  <input matInput>
</mat-form-field>

<mat-form-field>
  <mat-label>Input</mat-label>
  <input matInput>
</mat-form-field>

<mat-form-field>
  <mat-label>Input</mat-label>
  <input matInput>
</mat-form-field>

<mat-form-field>
  <mat-label>Input</mat-label>
  <input matInput>
</mat-form-field>

<mat-form-field>
  <mat-label>Textarea</mat-label>
  <textarea matInput></textarea>
</mat-form-field>

 -->
