/* Reset CSS globale */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Specifico reset per il body */
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
