.scheda {
  padding: 100px;
  height: 700px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: center;
  align-items: center;
  background-size: cover;
  scale: inherit; /* L'immagine copre tutto il div */
  background-position: center; /* L'immagine è centrata */
  background-repeat: no-repeat; /* Evita che l'immagine si ripeta */
}

.descrizione{
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}



.info{
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 20px;
  gap:10px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.nome-azienda{
  padding: 10px;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.nome-progetto{
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.periodo{
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.tecnologie{
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.contenuto-tec{
  display: flex;
  flex-direction: row;
}

img{
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

p{
  font-family: Arial, Helvetica, sans-serif;
 letter-spacing: 3px;
}

h3{
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}

label{
  color: brown;
}

