<div class="scheda" [ngStyle]="{'background-image': 'url(' + esp.immagineUrl + ')'}">
  <div class="contenuto">
    <div class="info">
      <div class="nome-progetto">
        <label >Nome Progetto:</label>
        <h3>{{esp.nomeProgetto}}</h3>
      </div>
      <div class="nome-azienda">
        <label >Nome Azienda:</label>
        <h3>{{esp.nomeAzienda}}</h3>
      </div>
      <div class="periodo">
        <label >Durata:</label>
       <h3>{{esp.dataInizio}} - {{esp.dataFine}}</h3>
      </div>
    </div>
  </div>
  <div class="descrizione">
    <label >Descrizione:</label>
      <p>{{esp.descrizione}}</p>
  </div>
  <div class="tecnologie">
    <label>Tecnologie utilizzate:</label>
      <p></p>
  </div>
</div>
