<mat-dialog-content >
  <div class="dettaglio">
    <form [formGroup]="inserisciForm" (ngSubmit)="inserisci()">
      <div class="gruppo" >
        <div class="titolo">
          <h3>Dettaglio:</h3>
        </div>
          <mat-form-field>
            <mat-label>Nome:</mat-label>
            <input matInput formControlName="nome">
          </mat-form-field>
          <div class="input-immagine">
            <label for="imageUpload">Carica immagine (JPG, PNG):</label>
            <input type="file" (change)="onFileChange($event)" accept="image/jpeg, image/png" id="imageUpload">
          </div>
      <div class="azione">
        <button mat-button type="submit">Inserisci</button>
      </div>
    </div>
   </form>
  </div>
</mat-dialog-content>
