/* Reset CSS globale */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Specifico reset per il body */
html, body {
  height: 100%; /* Assicura che l'html e il body occupino l'intera altezza della finestra */
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: wheat;
}

main {
  flex: 1; /* Consente al contenuto principale di crescere e occupare lo spazio disponibile */
}

footer {
  background-color: #333; /* Colore di sfondo del footer (modifica secondo necessità) */
  color: white; /* Colore del testo del footer */
  text-align: center; /* Allinea il testo al centro */
  padding: 20px; /* Spaziatura interna */
}
